---
title: projets
permalink: /projects/
layout: default
group: "navigation"
---

<div class="projects">
    <div class="projects-filter">
        <select id="project-filter">
            <option selected value="all">Selectionné une catégorie...</option>
            {% for category in site.categories %}
                {% capture category_name %}{{ category | first }}{% endcapture %}
                <option value="{{ category_name | slugsize }}"> {{ category_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="card-deck">
    {% for post in site.posts %}
            <a href="{{ post.title}}">
                <div class="card {{ post.categories }}">
                    <div class="hvrbox">
                        <img class="img-card" alt="{{ post.project_name }}" src="{{ post.image }}" />
                        <div class="hvrbox-layer_top">
                            <div class="hvrbox-text"> {{ post.description }}</div>
                        </div>
                    </div>
                    <h3 class="card-title" style="font-size: 1em">{{ post.project_name }}</h3>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
