<div class="header">
    <a href="{{ "/" | absolute_url }}"><div class="title">julie reeb</div></a>
    <div class="inner-header-container">
        <ul id="navbar" class="header-barnav">
            {% for node in site.pages %}
                {% if page.url == node.url %}
                    <li class="active item-navbar"><a href="{{node.url}}">{{node.title}}</a></li>
                {% else %}
                    <li class="item-navbar"><a href="{{node.url}}">{{node.title}}</a></li>
                {% endif %}
            {% endfor %}
            {% assign group = 'navigation' %}
        </ul>
        <a id="icon-burger">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
