<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/styles/main.css" | absolute_url }}" type="text/css" />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">

    <title>julie reeb</title>
</head>
<body>
    {% assign header.html = site.pages %}
    {% assign group = 'navigation' %}
    {% include header_project.html %}
    <div class="project-container" style="margin-bottom: 30px">
        <div class="project-header">
            <div class="project-header-img">
                <img src="{{ page.img_header }}" alt="project-img"/>
            </div>
            <div class="project-header-txt">
                <div class="project-header-txt-meta">
                    <p> {{ page.project_name }}</p>
                    {% if page.colab %} <p>{{ page.colab}}</p> {% endif %}
                    <p> {{ page.categories }}</p>
                    <p> {{ page.project_date }}</p>
                    <p> {{ page.place }}</p>
                    {% if page.participant %} <br /><p>{{ page.participant }}</p> {% endif %}
                </div>
                <div>
                    <p style="margin: 0">{{ page.photographe }}</p>
                </div>
            </div>
        </div>
        <div class="project-body-txt">
            <p>{{ page.desc}}</p>
        </div>
        <div class="project-bottom-imgs">
            <img src="{{ page.img_bottom1 }}" alt="img-bottom1" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom1-modal}}" alt="img-modal"/>
                </div>
            </div>
            <img src="{{ page.img_bottom2 }}" alt="img-bottom2" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom2-modal}}" alt="img-modal"/>
                </div>
            </div>
            <img src="{{ page.img_bottom3 }}" alt="img-bottom3" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom3-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% if page.img_bottom4 %}
            <img src="{{ page.img_bottom4 }}" alt="img-bottom4" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom4-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% endif %}
            {% if page.img_bottom5 %}
            <img src="{{ page.img_bottom5 }}" alt="img-bottom5" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom5-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% endif %}
            {% if page.img_bottom6 %}
            <img src="{{ page.img_bottom6 }}" alt="img-bottom6" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom6-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% endif %}
            {% if page.img_bottom7 %}
            <img src="{{ page.img_bottom7 }}" alt="img-bottom7" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom7-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% endif %}
            {% if page.img_bottom8 %}
            <img src="{{ page.img_bottom8 }}" alt="img-bottom8" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom8-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% endif %}
            {% if page.img_bottom9 %}
            <img src="{{ page.img_bottom9 }}" alt="img-bottom9" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom9-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% endif %}
            {% if page.img_bottom10 %}
            <img src="{{ page.img_bottom10 }}" alt="img-bottom10" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom10-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% endif %}
            {% if page.img_bottom11 %}
            <img src="{{ page.img_bottom11 }}" alt="img-bottom11" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom11-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% endif %}
            {% if page.img_bottom12 %}
            <img src="{{ page.img_bottom12 }}" alt="img-bottom12" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom12-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% endif %}
            {% if page.img_bottom13 %}
            <img src="{{ page.img_bottom13 }}" alt="img-bottom13" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom13-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% endif %}
            {% if page.img_bottom14 %}
            <img src="{{ page.img_bottom14 }}" alt="img-bottom14" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom14-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% endif %}
            {% if page.img_bottom15 %}
            <img src="{{ page.img_bottom15 }}" alt="img-bottom15" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom15-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% endif %}
            {% if page.img_bottom15 %}
            <img src="{{ page.img_bottom16 }}" alt="img-bottom16" />
            <div class="modal">
                <div class="modal-content">
                    <img src="{{ page.img_bottom16-modal}}" alt="img-modal"/>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% include footer.html %}
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="{{ "/js/main.js" | absolute_url }}"></script>
</body>
</html>
