/**** INIT ****/

* {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

/**** HEADER ****/

.header{
    padding: 1.2em .7em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 1.2em;
    letter-spacing: .2em;
}
.title {
    font-weight: bold;
}

.active {
    border: 1px solid black;
}

.header-barnav {
    list-style: none;
    display: flex;
    margin:0;
    font-weight: normal;
    font-size: .8em
}

.header-barnav > li {
    margin: 0 3em;
    padding: 1em;
}

/**** FOOTER ****/

.footer {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.footer > a {
    text-decoration: underline;
}

/**** CAROUSEL HOME ****/

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

/**** ABOUTME ***/

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.about-resume{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding: 6em;
}

.about-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.about-header-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 2em;
    font-size: .8em;
}

.about-header-text > span {
    text-align: left;
    margin-top: 1.5em;

}

.about-body-description{
    text-align: justify;
    text-justify: inter-word;
    align-self: flex-end;
    width: 40%;
    font-size: .8em;
    padding-right: 7em;
}

/**** PROJECTS ****/

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.projects-filter {
    margin: 2.5em;
    /* align-self: flex-start; */
}

.card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    margin: 0 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
}

.img-card {
    width: 250px;
    height: 250px;
}

.hvrbox * {
    box-sizing: border-box;
}

.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.hvrbox img {
    max-width: 100%;
}

.hvrbox .hvrbox-layer_bottom {
    display: block;
}

.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}

.hvrbox .hvrbox-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179);
    /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}

.hvrbox.active .hvrbox-text_mobile {
    display: block;
}

.hidden {
    display: none;
}

/**** PROJECT LAYOUT ****/

.project-container {
    display: flex;
    flex-direction: column;
    padding: 0 4em;
    font-size: 1em;
}

.project-header {
    display: flex;
    justify-content: center;
}
.project-header-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.project-header-img > img {
    max-width: 70%;
}
.project-header-txt {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}

.project-header-txt > div{
    margin: 0 2em;
}

.project-header-txt-meta > p {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.project-body-txt {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin: 0 2em;
}
.project-body-txt > p {
    width: 50%;
    text-align: justify;
}

.project-bottom-imgs {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    flex-wrap: wrap;
}

.project-bottom-imgs > img {
    max-width: 500px;
    margin: 1em 1em;
}

/**** MODAL ****/

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.modal-content > img {
    height: 55%;
    width: 55%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}